.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gutter-xl);

    min-height: 80px;
    margin-top: 15px;
    padding: var(--gutter-xl);

    /* border-radius: var(--border-radius);
    background: var(--main-color_gradient); */

}